/* Index Page Code */

* {
  font-family: "Playwrite NG Modern";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(239, 239, 193);
  height: 70px;
  padding: 10px 90px;
  position: relative;
}

.logo {
  font-size: 30px;
  margin-left: -40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  padding: 20px;
}

ul li a {
  color: black;
  text-decoration: none;
}

ul li {
  list-style: none;
  font-size: 20px;
  margin-right: -20px;
}

ul li a {
  padding: 8px 10px;
  border-radius: 5px;
}

ul li a:hover {
  background-color: rgb(217, 184, 184);
  transition: 0.5s;
}

.control i {
  color: black;
  font-size: 25px;
  display: none;
}

.control {
  position: absolute;
  right: 10px;
}

@media (max-width: 940px) {
  ul {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    position: fixed;
    top: 80px;
    background-color: rgb(201, 157, 157);
    width: 100%;
    left: 0;
  }

  ul li a,
  ul li a:hover,
  a.current {
    border: none;
    background-color: transparent;
    color: black;
  }
  .control i {
    display: block;
  }
}

body {
  background-color: beige;
}

.left-parent-child{
  font-size: 21px;
}

.right-parent-child{
  margin-top: 30px;
}

body {
  opacity: 0;
  animation: moveup 1.5s linear forwards;
}

.photo {
  width: 500px;
  border-radius: 40px 80px;
}

.parent {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  margin-top: 60px;
  gap: 100px;
}

@media (max-width: 1000px) {
  .parent {
    flex-direction: column;
    gap: 20px;
  }
  .left-parent-child {
    text-align: center;
  }
  .photo {
    width: 300px;
  }
  .right-parent-child {
    margin: 0 auto;
  }
}

@keyframes moveup {
  100% {
    opacity: 1;
  }
}

#btn1 {
  font-size: 20px;
  padding: 10px;
  background-color: rgb(239, 239, 193);
  margin-left: 10px;
  margin-top: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 8px;
}

#btn1:hover {
  background-color: rgb(217, 184, 184);
}

#r {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
  margin-left: 12px;
}

#s,
#t {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
  margin-left: 30px;
}


/* Contact Page Code */


.contact-information h3 {
  font-size: 40px;
  margin-bottom: 21px;
}

.contact-information i {
  color: cadetblue;
  margin-right: 10px;
}

.form-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

input,
textarea {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 6px;
  background-color: rgb(239, 239, 193);
  margin-top: 10px;
}

.contact-information p {
  margin-bottom: 10px;
  color: cadetblue;
  font-size: 20px;
}

.contact-information {
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.form-content {
  margin-top: 100px;
}

#btn2 {
  background-color: rgb(239, 239, 193);
  display: inline-block;
  padding: 13px 25px;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 8px;
}

.contact-information i {
  color: cadetblue;
  margin-right: 10px;
}
@media (max-width: 657px) {
  .form-content {
    grid-template-columns: 1fr;
  }
}

#btn2:hover {
  background-color: rgb(217, 184, 184);
}


/* Projects Page Code */


h1 {
  text-align: center;
  font-size: 50px;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.proj-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 450px));
  gap: 10px;
}

.proj {
  background-color: rgb(239, 239, 193);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(123, 145, 146);
  margin: 60px;
}

.proj img {
  width: 100%;
  height: auto;
}

.proj-content {
  padding: 16px;
}

.proj-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.proj-content p {
  color: black;
  font-size: 15px;
  line-height: 1.3;
}

.heh {
  text-align: center;
  margin-top: 40px;
  font-size: 50px;
}


/* Site Report Page */


.uno {
  font-size: 25px;
  padding: 20px;
}

.dos {
  padding: 10px;
  font-size: 23px;
  padding-left: 60px;
}

.hehe {
  text-align: center;
  margin-top: 100px;
}
